player-connection-mode=Listen
player-connection-guid=1290050865
player-connection-debug=0
player-connection-project-name=Anthrax Infernal Doom
player-connection-ip=192.168.200.1
player-connection-ip=192.168.152.1
player-connection-ip=172.27.96.1
player-connection-ip=192.168.100.19
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
